.project {
  width: 486px;
  height: 350px;
  margin: 0px 12px 25px 12px;
  position: relative;
  z-index: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.project .overlay {
  opacity: 0;
  background: #0779e4;
  z-index: -1;
  transition: all 0.3s ease;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.project:hover .overlay,
.project:focus .overlay {
  opacity: 0.9;
}

.project-text {
  max-width: 80%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease;
  text-align: center;
}

.project:hover .project-text,
.project:focus .project-text {
  opacity: 1;
}

.project-text h3 {
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 8px;
}

.project-text span {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 600;
}
